Mule-Project/custom-error-handling/src/main/mule/custom-error-handling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fc95cc5a-00b9-45f8-9358-c8bfad33310f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="caf8ae3c-a74f-4242-ab7b-40041890e92d" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="client-flow" doc:id="311ee164-45b1-47c0-85e3-eb2b4b341ff1" >
		<http:listener doc:name="Listener" doc:id="b8e698f4-b42f-4839-b38a-7a572c8be078" config-ref="HTTP_Listener_config" path="/client">
			<http:error-response statusCode="#[error.muleMessage.typedAttributes.statusCode]" >
				<http:body ><![CDATA[#[error.muleMessage.typedValue]]]></http:body>
			</http:error-response>
		</http:listener>
		<http:request method="GET" doc:name="Request" doc:id="f1c17451-d49a-4679-9bce-682ec73890c0" config-ref="HTTP_Request_configuration" path="/server"/>
	</flow>
	<flow name="server-flow" doc:id="392791b7-f1ac-402d-9ce5-9068af9b868c" >
		<http:listener doc:name="Listener" doc:id="37a3882b-2eaf-4aee-a765-0f9da037fd05" config-ref="HTTP_Listener_config" path="/server">
			<http:response statusCode="#[attributes.statusCode]" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="e943e997-5290-4524-b986-00c2eda6d352" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"This is a custom error handler!",
	statusCode: 502
}]]></ee:set-payload>
				<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
	statusCode: 502
}]]></ee:set-attributes>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
